@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* Health bar container */
.health-bar {
  display: flex;
  -ms-flex-align: center;
  width: 150%;
  height: 15px;
  background-color: #ccc; /* Gray background for health bar */
  border-radius: 8000px;
  /* overflow: hidden; */
  /* margin: 10px auto; */
  position: relative;
  max-width: 300px;
}

/* Inner health bar that shrinks as health decreases */
.health-bar-inner {
  height: 100%;
  background-color: darkred; /* Green for the health bar */
  border-radius: 10px;
  transition: width 0.3s ease-in-out; /* Smooth width transition */
}

